<div class="collapse navbar-collapse" *ngFor="let children of item">
  <ul class="navbar-nav" *ngIf="children.type=='collapse'">
    <li class="nav-item">
      <a class="nav-link" [href]="'#' + children.id" data-bs-toggle="collapse" role="button" aria-expanded="false"
        attr.aria-controls="{{children.id}}">
        {{children.title}}
      </a>
      <div class="collapse" id="{{children.id}}">
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let item of children.children">
            <a [routerLink]="[item.url]" class="nav-link">{{item.title}}</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</div>
