<!-- Left side main menu -->
<app-main-menu [Navigation]="Navigation"></app-main-menu>
<app-header></app-header>
<div class="page-wrapper">
  <div class="page-content-tab">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="page-title-box">
            <h4 class="page-title">Page Title</h4>
          </div>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</div>
