<div class="main-menu-inner">
  <div class="topbar-left">
    <a href="index.html" class="logo">
      <span>
        <img src="assets/images/logo-dark.png" alt="logo-large" class="logo-lg logo-dark">
        <img src="assets/images/logo.png" alt="logo-large" class="logo-lg logo-light">
      </span>
    </a>
  </div>

  <div class="menu-body navbar-vertical tab-content" data-simplebar>
    <div id="MetricaDashboard" class="main-icon-menu-pane tab-pane active" role="tabpanel"
      aria-labelledby="dasboard-tab">
      <div class="title-box">
        <h6 class="menu-title">{{MenuItem.title}}</h6>
      </div>

      <app-inner-main-menu-item [item]="MenuItem.children"></app-inner-main-menu-item>
      <app-inner-main-menu-collapse [item]="MenuItem.children"></app-inner-main-menu-collapse>
      <app-inner-main-menu-group [item]="MenuItem.children"></app-inner-main-menu-group>

    </div>
  </div>
</div>
