/* You can add global styles to this file, and also import other style files */

.btn-outline-light {
  color: #7081b9;
  background-image: none;
  background-color: transparent;
  border-color: #7081b9;
}
