<footer class="footer text-center text-sm-start">
  &copy; 2021 CSM <span class="text-muted d-none d-sm-inline-block float-end">Crafted with <i
      class="mdi mdi-heart text-danger"></i> by Cybrain Software Solutions</span>
</footer>
