/*ads css*/
.img-wd-newa img {
    width: 100%;
    border: 1px solid;
}

.img-wd-newa {
    background: #f2f2f2;
    padding: 1% 0;
}

.img-wd-newa .row,
.ads_ele .row {
    position: relative;
}

.img-wd-newa input,
.ads_ele input {
    position: absolute;
    right: 1.4%;
    width: 19px;
    height: 19px;
    padding: 0 0 !important;
    line-height: 17px !important;
    border: none;
    background: white;
    font-size: 17px;
    top: 1.2%;
    box-shadow: 1px 1px 4px #00000030;
}

.img-wd-newa span,
.ads_ele span {
    position: absolute;
    right: 3.25%;
    width: 19px;
    height: 19px;
    padding: 0 0 !important;
    line-height: 17px !important;
    border: none;
    background: white;
    font-size: 17px;
    top: 1.2%;
    box-shadow: 1px 1px 4px #00000030;
    text-align: center
}

.img-wd-newa span i,
.ads_ele span i {
    font-style: inherit;
    font-size: 13px;
    border: 1px solid;
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 13px;
    border-radius: 50%;
}


.class-ul-new li {
    list-style: none
}

ul.class-ul-new {
    padding: 0;
}

ul.class-ul-new i {
    margin-right: 0.6%;
}

ul.class-ul-new li a {
    color: black;
}

ul.class-ul-new li a:hover {
    color: #f68606;
}

.ads_ul {
    display: inline-block;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.ads_ul li {
    display: inline-block;
    position: relative;
}

.ads_ul li input[type="button"] {
    right: 2px;
}

.ads_ul li span {
    right: 4.3%;
}

.ads_ele span {
    right: 4.5%;
}

.ads_ele input {
    right: 2%;
}

.ads_ele {
    margin: 0 0 2%;
}

.report_add {
    text-align: right;
}

.report_add a {
    font-size: 11px;
    color: blue !important;
}



#ads_feedback .modal-header {
    padding: 0;
    border: 0;
}

#ads_feedback .modal-body {
    padding: 1% 0;
    margin: 4% 0;
    overflow: hidden;
}

#ads_feedback .modal-footer {
    padding: 0;
    border: 0;
    text-align: left;
    justify-content: flex-start;
}

#ads_feedback .login_av {
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 1%;
}

#ads_feedback label.radio-inline {
    width: 100%;
    margin: 0;
    font-size: 11px;
    height: 16px;
}

#ads_feedback label.radio-inline input {
    height: 9px;
}

#ads_feedback .modal-footer button:first-child {
    font-size: 11px;
    padding: 6px 9px;
    background: #f68606;
    border: 1px solid #f68606;
    color: white;
}

#ads_feedback .modal-footer button {
    font-size: 11px !important;
    color: black;
}

#ads_feedback .login_av span {
    display: block;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}




/*  Drag and Drop File */

/* #drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 480px;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
  } */
  .js_img_drop {
    border: 2px dashed #ccc;
    border-radius: 0px;
    /* width: 480px; */
    font-family: sans-serif;
    margin: 69px auto;
    padding: 20px;
}


  .js_img_drop.highlight {
    border-color: purple;
  }
  p {
    margin-top: 0;
  }
  .my-form {
    margin-bottom: 10px;
  }
  #gallery {
    margin-top: 10px;
  }
  #gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
  }
  .button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .button:hover {
    background: #ddd;
  }
  #fileElem {
    display: none;
  }
  