<div class="leftbar-tab-menu">
  <div class="main-icon-menu">
    <a href="index.html" class="logo logo-metrica d-block text-center">
      <span>
        <img src="assets/images/logo-sm.png" alt="logo-small" class="logo-sm">
      </span>
    </a>
    <div class="main-icon-menu-body">
      <div class="position-reletive h-100" data-simplebar style="overflow-x: hidden;">
        <ul class="nav nav-tabs" role="tablist" id="tab-menu">
          <li class="nav-item" *ngFor="let item of Navigation;let i=index" title="{{item.title}}"
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover">
            <a id="item.id" class="nav-link" (click)="allowMenus(i)">
              <i class="ti menu-icon" [ngClass]="item.icon"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="pro-metrica-end">
      <a href="#" class="profile">
        <img src="assets/images/users/user-4.jpg" alt="profile-user" class="rounded-circle thumb-sm">
      </a>
    </div>
  </div>

  <app-inner-main-menu [MenuItem]="MenuItem"></app-inner-main-menu>

</div>
