<form id="PostForm" name="PostForm" action="https://secure.payu.in" method="POST">
    <input type="hidden" name="phone" value="9078799777">
    <input type="hidden" name="surl" value="https://dev.ulyanaeducation.com/website/gatewayresponse">
    <input type="hidden" name="udf8" value="">
    <input type="hidden" name="udf6" value="">
    <input type="hidden" name="udf3" value="">
    <input type="hidden" name="udf7" value="">
    <input type="hidden" name="key" value="uBxdF5mo">
    <input type="hidden" name="udf4" value="">
    <input type="hidden" name="service_provider" value="payu_paisa">
    <input type="hidden" name="udf10" value="">
    <input type="hidden" name="productinfo" value="Admission Payments">
    <input type="hidden" name="txnid" value="1df7237ad0ec7920f4fd">
    <input type="hidden" name="amount" value="2700">
    <input type="hidden" name="email" value="studentue7@gmail.com">
    <input type="hidden" name="udf1" value="">
    <input type="hidden" name="hash" value="d27c435f5e8c2e7b345a184d184428f643607bcdb55fdb2fb7ca1ac5b6009162406eb74bcbfe7b72b7800edf7a33dc79695a6c3923f6a5fc5fead53a2006fd38">
    <input type="hidden" name="furl" value="https://dev.ulyanaeducation.com/website/gatewayresponse">
    <input type="hidden" name="udf9" value="">
    <input type="hidden" name="udf5" value="">
    <input type="hidden" name="udf2" value="">
    <input type="hidden" name="firstname" value="Alexa S ">
    </form>
    <script language='javascript'>var vPostForm = document.PostForm;vPostForm.submit();</script>