<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h4 class="card-title">Transaction History</h4>
            </div>


            <!--end col-->
            <div class="col-auto d-flex align-self-center">
              <div class="input-group me-2">
                <input type="text" class="form-control form-control-sm" placeholder="Search"
                  aria-describedby="wallet_search">
                <button class="btn btn-outline-light btn-sm" type="button" id="wallet_search">
                  <i class="las la-search text-secondary"></i>
                </button>
                <button class="btn btn-outline-light btn-sm" type="button" id="wallet_search">
                  <i class="las la-search text-secondary"></i>
                </button>

              </div>
              <div class="dropdown">
                <a href="#" class="btn btn-sm btn-outline-light dropdown-toggle" data-bs-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Today<i class="las la-angle-down ms-1"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" href="#">Today</a>
                  <a class="dropdown-item" href="#">Yesterday</a>
                  <a class="dropdown-item" href="#">Last Week</a>
                  <a class="dropdown-item" href="#">Last Month</a>
                </div>
              </div>


            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end card-header-->
        <div class="card-body">
          <div class="table-responsive dash-social">
            <table id="datatable" class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>No</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Transaction ID</th>
                  <th>Type</th>
                  <th>Value</th>
                </tr>
                <!--end tr-->
              </thead>

              <tbody>
                <tr>
                  <td>01</td>
                  <td>14 Jan 2021</td>
                  <td>12:05PM</td>
                  <td>c12b001a15f9bd46ef1c6551386c6a2bcda1ab3eae5091fba</td>
                  <td><span class="badge badge-soft-danger">Sent</span></td>
                  <td>$521.36</td>
                </tr>
                <!--end tr-->
                <tr>
                  <td>02</td>
                  <td>13 Jan 2021</td>
                  <td>10:15AM</td>
                  <td>c12b001a15f9bd46ef1c6551386c6a2bcda1ab3eae5091fba</td>
                  <td><span class="badge badge-soft-success">Received</span></td>
                  <td>$990.00</td>
                </tr>
                <!--end tr-->
                <tr>
                  <td>03</td>
                  <td>11 Jan 2021</td>
                  <td>09:14PM</td>
                  <td>c12b001a15f9bd46ef1c6551386c6a2bcda1ab3eae5091fba</td>
                  <td><span class="badge badge-soft-danger">Sent</span></td>
                  <td>$321.21</td>
                </tr>
                <!--end tr-->
                <tr>
                  <td>04</td>
                  <td>08 Jan 2021</td>
                  <td>12:05PM</td>
                  <td>c12b001a15f9bd46ef1c6551386c6a2bcda1ab3eae5091fba</td>
                  <td><span class="badge badge-soft-success">Received</span></td>
                  <td>$321.21</td>
                </tr>
                <!--end tr-->
                <tr>
                  <td>05</td>
                  <td>06 Jan 2021</td>
                  <td>11:30AM</td>
                  <td>c12b001a15f9bd46ef1c6551386c6a2bcda1ab3eae5091fba</td>
                  <td><span class="badge badge-soft-danger">Sent</span></td>
                  <td>$458.80</td>
                </tr>
                <!--end tr-->
                <tr>
                  <td>06</td>
                  <td>05 Jan 2021</td>
                  <td>05:50PM</td>
                  <td>c12b001a15f9bd46ef1c6551386c6a2bcda1ab3eae5091fba</td>
                  <td><span class="badge badge-soft-success">Received</span></td>
                  <td>125.50</td>
                </tr>
                <!--end tr-->
                <tr>
                  <td>07</td>
                  <td>04 Jan 2021</td>
                  <td>08:10PM</td>
                  <td>c12b001a15f9bd46ef1c6551386c6a2bcda1ab3eae5091fba</td>
                  <td><span class="badge badge-soft-danger">Sent</span></td>
                  <td>$365.21</td>
                </tr>
                <!--end tr-->
                <tr>
                  <td>08</td>
                  <td>03 Jan 2021</td>
                  <td>01:30PM</td>
                  <td>c12b001a15f9bd46ef1c6551386c6a2bcda1ab3eae5091fba</td>
                  <td><span class="badge badge-soft-success">Received</span></td>
                  <td>$843.21</td>
                </tr>
                <!--end tr-->
                <tr>
                  <td>09</td>
                  <td>03 Jan 2021</td>
                  <td>12:05PM</td>
                  <td>c12b001a15f9bd46ef1c6551386c6a2bcda1ab3eae5091fba</td>
                  <td><span class="badge badge-soft-danger">Sent</span></td>
                  <td>$335.15</td>
                </tr>
                <!--end tr-->
                <tr>
                  <td>10</td>
                  <td>02 Jan 2021</td>
                  <td>03:15PM</td>
                  <td>c12b001a15f9bd46ef1c6551386c6a2bcda1ab3eae5091fba</td>
                  <td><span class="badge badge-soft-success">Received</span></td>
                  <td>$554.50</td>
                </tr>
                <!--end tr-->

              </tbody>
            </table>
          </div>
          <nav aria-label="..." class="float-end">
            <ul class="pagination pagination-sm mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
            <!--end pagination-->
          </nav>
          <!--end nav-->
        </div>
        <!--end card-body-->
      </div>
      <!--end card-->
    </div>
    <!--end col-->
  </div>
  <!--end row-->



  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col">
              <h4 class="card-title">All Tickets</h4>
            </div>
            <!--end col-->
            <div class="col-auto">
              <button class="btn btn-sm btn-de-primary">Create Ticket</button>
            </div>
            <!--end col-->
          </div>
          <!--end row-->
        </div>
        <!--end card-header-->
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th>ID</th>
                  <th>Customers</th>
                  <th>Subject</th>
                  <th>Priority</th>
                  <th>Status</th>
                  <th>Respose Time</th>
                </tr>
                <!--end tr-->
              </thead>

              <tbody>
                <tr>
                  <td>#1236</td>
                  <td><img src="assets/images/users/user-10.jpg" alt="" class="thumb-sm rounded-circle me-2">
                    Donald Gardner</td>
                  <td>Bug-report simply dummy text of the printing and typesetting</td>
                  <td>Medium</td>
                  <td><span class="badge badge-soft-warning p-2">New</span></td>
                  <td>14 min</td>
                </tr>
                <!--end tr-->
                <tr>
                  <td>#3569</td>
                  <td><img src="assets/images/users/user-9.jpg" alt="" class="thumb-sm rounded-circle me-2">
                    Kevin J. Heal</td>
                  <td>The application continuous is a long established fact that a reader.</td>
                  <td class="text-danger">Critical</td>
                  <td><span class="badge badge-soft-success p-2">Solved</span></td>
                  <td>45 min</td>
                </tr>
                <!--end tr-->
                <tr>
                  <td>#9874</td>
                  <td><img src="assets/images/users/user-8.jpg" alt="" class="thumb-sm rounded-circle me-2">
                    Frank M. Lyons</td>
                  <td>See how it work start are many variations of passages of Lorem Ipsum available.</td>
                  <td>Low</td>
                  <td><span class="badge badge-soft-primary p-2">Open</span></td>
                  <td>1 houur</td>
                </tr>
                <!--end tr-->
                <tr>
                  <td>#5412</td>
                  <td><img src="assets/images/users/user-7.jpg" alt="" class="thumb-sm rounded-circle me-2">
                    Robert C. Golding</td>
                  <td>I can't upload file first line of Ipsum lorem ipsum dolor sit amet.</td>
                  <td>Medium</td>
                  <td><span class="badge badge-soft-warning p-2">New</span></td>
                  <td>2 houur</td>
                </tr>
                <!--end tr-->
                <tr>
                  <td>#3258</td>
                  <td><img src="assets/images/users/user-6.jpg" alt="" class="thumb-sm rounded-circle me-2">
                    Hyman M. Cross</td>
                  <td>How do i upgrade my profile?</td>
                  <td>Low</td>
                  <td><span class="badge badge-soft-success p-2">Solved</span></td>
                  <td>4 houur</td>
                </tr>
                <!--end tr-->
                <tr>
                  <td>#6636</td>
                  <td><img src="assets/images/users/user-5.jpg" alt="" class="thumb-sm rounded-circle me-2">
                    Phillip T. Morse</td>
                  <td>Can i help you in this project?</td>
                  <td class="text-danger">Critical</td>
                  <td><span class="badge badge-soft-primary p-2">Opan</span></td>
                  <td>4 houur</td>
                </tr>
                <!--end tr-->
              </tbody>
            </table>
          </div>
        </div>
        <!--end card-body-->
      </div>
      <!--end card-->
    </div>
    <!--end col-->
  </div>
  <!--end row-->


  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <button type="button" class="btn btn-de-primary btn-sm mt-0 mb-3" data-bs-toggle="modal"
            data-animation="bounce" data-bs-target=".bs-example-modal-lg">Add New Shedule</button>
          <div class="table-responsive">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th>Doctor Name</th>
                  <th>Department</th>
                  <th>Working days</th>
                  <th>Time</th>
                  <th>Extra Info</th>
                  <th>Status</th>
                  <th class="text-right">Action</th>
                </tr>
                <!--end tr-->
              </thead>

              <tbody>
                <tr>
                  <td><img src="assets/images/users/user-1.jpg" alt="" class="thumb-sm rounded-circle me-2">Dr.Thomas
                    Fant</td>
                  <td>Orthopedic</td>
                  <td>Monday,Tuesday</td>
                  <td>11:00 am to 03:00pm </td>
                  <td>-</td>
                  <td><span class="badge badge-soft-success">Active</span></td>
                  <td>
                    <a href="#"><i class="las la-pen text-secondary font-18"></i></a>
                    <a href="#"><i class="las la-trash-alt text-secondary font-18"></i></a>
                  </td>
                </tr>
                <!--end tr-->
                <tr>
                  <td><img src="assets/images/users/user-4.jpg" alt="" class="thumb-sm rounded-circle me-2">Dr.Helen
                    White</td>
                  <td>Neurology</td>
                  <td>Friday, Saturday</td>
                  <td>03:30 pm to 10:00 pm</td>
                  <td>-</td>
                  <td><span class="badge badge-soft-danger">Inactive</span></td>
                  <td>
                    <a href="#"><i class="las la-pen text-secondary font-18"></i></a>
                    <a href="#"><i class="las la-trash-alt text-secondary font-18"></i></a>
                  </td>
                </tr>
                <!--end tr-->
                <tr>
                  <td><img src="assets/images/users/user-6.jpg" alt="" class="thumb-sm rounded-circle me-2">Dr.Aretha
                    Garland</td>
                  <td>Neurology</td>
                  <td>Monday</td>
                  <td>09:30 am to 12:30 pm</td>
                  <td>Going to Family Function</td>
                  <td><span class="badge badge-soft-success">Active</span></td>
                  <td>
                    <a href="#"><i class="las la-pen text-secondary font-18"></i></a>
                    <a href="#"><i class="las la-trash-alt text-secondary font-18"></i></a>
                  </td>
                </tr>
                <!--end tr-->
              </tbody>
            </table>
          </div>
        </div>
        <!--end card-body-->
      </div>
      <!--end card-->
    </div>
    <!--end col-->
  </div>
  <!--end row-->
</div>
